/*-- General Styles --*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Oswald:wght@600&display=swap');

body {
	width: fit-content;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: rgba(179,221,242,0.5);
	margin-bottom: 40px;
	border-bottom: 1px solid #b3ddf2;
}

.logo {
	font-family: 'Lobster', cursive;
	font-size: 72px;
	text-align: center;
	letter-spacing: 3;
	margin: 0;
	padding: 20px 0 0 0;
}

/*--(Mobile First) Navigation--*/
header nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

header nav ul {
	display: flex;
	flex-direction: row;
	padding-bottom: 0;
}

header nav ul li {
	list-style-type: none;
}

header nav ul li a {
	color: #ff0000;
	text-decoration: none;
	padding: 0 20px 0 0;
	font-family: 'Oswald', sans-serif; 
}

header nav ul li a:hover {
	color: black;
}
/*--(Desktop) Navigation--*/

@media all and (min-width: 700px) {
	header {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		margin: 14px 0 14px 20px;
		padding-top: 0;
		font-size: 42px;
		
	}	

	header nav {
		margin-top: 14px;
	}
}

/*--Primary Groups--*/

main {
	padding: 20px 0;
}

section {
	margin-bottom: 100px;
}

section.dark-background {
	color: white;
	background-color: black;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 80px 0;
}

footer {
	background-color: #b3ddf2;
	margin-top: 40px;
	margin-bottom: 0;
}

/*--Image--*/

main img {
	width: 100%;
}

img.image-enhanced {
	border-radius: 8px;
	max-height: 500px;
}

img.rounded {
	border-radius: 8px;
}

/*--Typography--*/
h1 {
	font-size: 28px;
	font-family: 'Lobster', cursive;
	font-weight: 400;
}

h2 {
	font-size: 26px;
	font-family: 'Lobster', cursive;
	font-weight: 400;
	margin: 0 10px;
}

h3 {
	font-size: 21px;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}

p {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5em;
	margin-bottom: 0;
}

.mid-txt {
	font-size: 20px;
}

/*--Links--*/
.dark-background a:link {
	color: white;
	text-decoration: underline;
}

.item-double a {
	text-decoration: none;
}

main a {
	font-weight: 700;
}

main a:link { color: black; }
main a:hover { color: #b3ddf2; }
main a:visited { color: #ff0000; }

footer p {
	text-align: center;
	padding: 20px;
}

/*--Div Group & Items (Mobile)--*/
.group {
	display: flex;
	flex-direction: column;
}

.item {
	flex: 1;
	margin: 10px;
}

.item-double {
	flex: 2;
}

.center {
	align-self: center;
}

/*--Div Group & Items (Desktop)--*/
@media all and (min-width: 800px) {
	section {
		padding: 0 10%;
	}

	.group {
		flex-direction: row;
	}
}

/*--Contact Form Design--*/
form {
	padding-right: 8px;
	width: 600px;
}

form label {
	display: block;
}

form input,
form textarea {
	width: 100%;
	margin-bottom: 20px;
}

form textarea {
	height: 160px;
}

/*--Button--*/
form button {
  padding: 10px 16px;
  font-family: 'Lobster', cursive;
  background-color: #b3ddf2;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
}

form button:hover {
  color: white;
  background-color: black;
}

form button:visited {
	background-color: color: #ff0000;;
}

